Repository gardener/remedy-controller, pull requests merged in 2023-02, with the labels that each got.

#55 update pipeline_definitions
  .ci/pipeline_definitions
Labels: platform/azure, needs/ok-to-test, needs/review, size/xs

#57 Remove steps for integration tests in pipeline
  .ci/pipeline_definitions
  .ci/tm-test
Labels: area/delivery, kind/cleanup, platform/azure, reviewed/lgtm, needs/ok-to-test, size/m

#56 Disable unused health bind address
  cmd/remedy-controller-azure/app/app.go
  pkg/cmd/manager_options.go
Labels: area/control-plane, kind/bug, platform/azure, reviewed/lgtm, needs/ok-to-test, size/xs
